@model List<AlloyTemplates.Models.ViewModels.Filters.FacetItem>
    


        @foreach (var facet in Model)
        {
            <li>
                <a href="#">@facet.Name (@facet.Count)  </a>
            </li>
        }
