@model List<AlloyTemplates.Models.ViewModels.Filters.FacetItem>

        @foreach (var facet in Model)
        {
            <li>
                
                @Html.ContentLink(string.Format("{0} ({1})", facet.Name, facet.Count), ContentHelper.GetSearchPage().PageLink, new {query = ViewBag.Query, filter = facet.Name}, null)

            </li>
        }
